<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default-layout.html}">
<head>
<meta charset="UTF-8">
<title>Customer Registration</title>
</head>
<th:block layout:fragment="bodyContent">
	<!-- Contact Form Begin -->
	
	<div class="contact-form spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<div class="contact__form__title">
						<h5>Customer Registration</h5>
					</div>
				</div>
			</div>

			<form method="post" th:action="@{/customer/register}" th:object="${customerRegistrationForm}">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<input type="email" class="form-control" name="emailAddress" placeholder="Email Address" th:field="*{emailAddress}">
						<p class="text-danger" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Invalid Email Address</p>
						
						<input type="password" class="form-control" name="password" placeholder="Password" th:field=*{password}>
						<p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Blank Password</p>
						
						<input type="password" class="form-control" name="repassword" placeholder="RePassword" th:field=*{rePassword}>
						<p class="text-danger" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">Blank RePassword</p>
						
						<input type="text" class="form-control" name="firstName" placeholder="First Name" th:field=*{firstName}>
						<p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name is blank</p>
						
						<input type="text" class="form-control" name="lastName" placeholder="Last Name" th:field="*{lastName}">
						<p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name is blank</p>
						
						<input type="text" class="form-control" name="mobileNo" placeholder="Mobile No" th:field="*{mobileNo}">
						<p class="text-danger" th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}">Mobile No is lank</p>
						
					</div>
					<div class="col-lg-6 mb-5">
						<input type="text" name="addressLine1" placeholder="House No or Flat No" th:field="*{addressLine1}">
						<p class="text-danger" th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}">House/Flat No</p>
						
						<input type="text" name="addressLine2" placeholder="Street and Locality" th:field="*{addressLine2}">
						
						<input type="text" name="city" placeholder="City" th:field="*{city}">
						<p class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City is blank</p>
						
						<input type="text" name="state" placeholder="State" th:field="*{state}">
						<p class="text-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">State is blank</p>
						
						<input type="text" name="zip" placeholder="Zip" th:field="*{zip}">
						<p class="text-danger" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">Zip is blank</p>
						
						<input type="text" name="country" placeholder="Country" th:field="*{country}">
						<p class="text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country is Blank</p>
					</div>
				</div>
				<div class="row justify-content-md-center">
					<button type="submit" class="site-btn">Register</button>
				</div>
		</form>
	</div>
	</div>
	<!-- Contact Form End -->
</th:block>
</html>