<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default-layout.html}">
<head>
<meta charset="UTF-8">
<title>Zippy Home</title>
</head>

<!-- Featured Section Begin -->
<th:block layout:fragment="bodyContent">
	<section class="featured spad">

		<div class="row featured__filter">
			<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						data-setbg="@{~/static/img/featured/feature-1.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-1.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						data-setbg="@{~/static/img/featured/feature-2.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-2.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						data-setbg="@{~/static/img/featured/feature-3.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-3.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						data-setbg="@{~/static/img/featured/feature-4.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-4.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						data-setbg="@{~/static/img/featured/feature-5.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-5.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						data-setbg="@{~/static/img/featured/feature-6.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-6.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						th:data-setbg="@{~/static/img/featured/feature-7.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-7.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
				<div class="featured__item">
					<div class="featured__item__pic set-bg"
						th:data-setbg="@{~/static/img/featured/feature-8.jpg}">
						<img alt="" th:src="@{~/static/img/featured/feature-8.jpg}">
						<ul class="featured__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<div class="featured__item__text">
						<h6>
							<a href="#">Crab Pool Security</a>
						</h6>
						<h5>$30.00</h5>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</th:block>
<!-- Featured Section End -->
</html>